


# rspec failure tracking
.rspec_status

# jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# npm
node_modules

# graphics and branding
graphics/*.xcf
graphics/src
_graphics/*.xcf
_graphics/src


# hidden
.*
!.git*
!.nojekyll

# ruby
*.gem
.bundle
.ruby-version

# yard?
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# git
.github