

.gallery

    --gap: calc( 2 * var(--x))
    padding-top: var(--x)
    padding-bottom: var(--x)
    
    display: grid

    grid-gap: calc( 0.5 * var(--x) )

    grid-template-columns: repeat( 3, 1fr )

