.logo
    display: flex
    justify-content: center
    img
        max-width: 50vw
        position: relative

    @include media-query('md')
        display: block
        img
            max-width: 20vw
            // margin-bottom: 2%