


body {
  line-height: 1.8em;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  @include media-query('md') {
    font-size: 1.2rem;
  }
}

h1, h2, h3, .h1, .h2, .h3 {
  padding: .2em 0;
  font-weight: 700;
  font-family: 'Cinzel', serif;
  font-size: 1.8em;
  line-height: 1em;
}

h1, .h1 {
  font-size: get-size('900');
  font-weight: 400;
  @include media-query('md') {
    font-size: 2.2*get-size('900')
  }
}

.menu {
  font-family: 'Cinzel', serif;
}

.highlighter-rouge > *, figure.highlight {
  padding: .5em;
  border-radius: .5em;
}

.highlighter-rouge, figure.highlight {
  margin: 1em 0;
}

code {
  background: var(--fill-code);
  color: var(--scribe-code);
  padding: 0 .2em;
  border-radius: .3em;
}

