

<!DOCTYPE html>

<html>
  <head>
    {% include head.html %}
  </head>

  <body class='root-layout fill-main-b scribe-main'>

    {% include banner.html %}

    {% include header.html %}

    <main class="l-content l-main fill-main box-shadow bfade fade-in-down f3 min:x5">
      {{ content }}
    </main>

    {% for section_title in page.sub_sections %}
      <div class="l-content fill-main box-shadow bfade fade-in-down f3 min:x5">
        <div class="box">
          {% assign section_page = site.sections | find: 'title', section_title %}
          {{ section_page.output }}
        </div>
      </div>
    {% endfor %}

    {% include footer.html %}
  </body>
</html>
